parameters:
    level: 6
    paths:
        - src
    tmpDir: var/phpstan
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanDirectories:
        - ../empathy/src
        - ../empathy/eaa/application
        - ../elib-base/src
    scanFiles:
        - phpstan/stubs/OVMisc.php
